.product {
  display: flex;
  flex-direction: column;
  max-width: 90vh;
  margin: auto;
  justify-content: center;
}

.product img {
  max-width: 60%;
  margin: 0 auto;
}

.product h2 {
  text-align: center;
}

.product p {
  text-align: center;
}
.product__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60%;
  flex-direction: column;
}
.product button {
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
